@charset "utf-8";
/* CSS Document */

a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size:28px;
	
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size:28px;
	
}

a:hover {
	color: #FFFFFF;
	text-decoration: none;
   font-size:28px;
	
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size:28px;
}