<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AI&amp;RT-ROS学习推广平台</title>
<link href="alink.css" rel="stylesheet" type="text/css" />
<style type="text/css">
html, body {
	weight: 100%;
	font-size: 24px;
}
</style>
</head>

<body>
	<table width="100%" border="0" bgcolor="#000000">
		<tr>
			<td width="30%"><img src="images/logo.png" /></td>
			<td width="8%"><a href="index.html">首页</a></td>
			<td width="8%"><a href="">课程</a></td>
			<td width="15%"><a href="">职业发展</a></td>
			<td width="15%"><input name="" type="text"
				placeholder="请输入你要查询的内容" style="height: 40px" /><input name=""
				type="submit" value="查询"
				style="height: 50px; background-color: #000000; color: #FFFFFF" /></td>
			<td width="10%"><a href="">关于我们</a></td>
			<td width="5%"><a href="">登录</a></td>
		</tr>
	</table>

	<div id="in">
		<table width="100%" border="0" cellspacing="0" cellpadding="0px">
			<tr bgcolor="#e2efd9">
				<td><img src="/images/development.png" width="200" height="50" /></td>
			</tr>
		</table>
	</div>
	<table width="1400" border="0" cellspacing="0" cellpadding="10"
		align="center">
		<tr>
			<td><p align="center">职业分析</p>
				<p align="center">
					<font size="3px">根据不同职业的特点，分析该职业的就，职业的兴趣点所在</font>
				</p>
				<p align="center">业前景，对其该掌握的知识点进行总结</p></td>
			<td><p align="center">面试宝典</p>
				<p align="center">
					<font size="3px">我们根据不同的课程进行分析，总</font>
				</p>
				<p align="center">结出一套具有针对性的面试技巧</p></td>
			<td><p align="center">一对一在线面试测试</p>
				<p align="center">
					<font size="3px">学员通过前两个内容的学习,会掌握</font>
				</p>
				<p align="center">一定的面试技巧，我们提供一对一的</p>
				<p align="center">在线面试测试，对所学成果进行检验</p></td>
		</tr>
		<tr>
			<td><p align="center">
					<video height="200px" controls="controls"> <source
						src="images/rosedu.mp4" type="video/mp4"></source> your browser
					does not support the video tag </video></p></td>
			<td><p align="center">
					<video height="200px" controls="controls"> <source
						src="images/rosedu.mp4" type="video/mp4"></source> your browser
					does not support the video tag </video></p></td>
			<td><p align="center">
					<video height="200px" controls="controls"> <source
						src="images/rosedu.mp4" type="video/mp4"></source> your browser
					does not support the video tag </video></p></td>
		</tr>
	</table>
</body>
</html>
