<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AI&amp;RT-ROS学习推广平台</title>
<link href="/css/alink.css" rel="stylesheet" type="text/css" />
<style type="text/css">
html, body {
	weight: 100%;
	font-size: 24px;
}
</style>
</head>

<body>
	<table width="100%" border="0" bgcolor="#000000">
		<tr>
			<td width="30%"><img src="images/logo.png" /></td>
			<td width="8%"><a href="/index">首页</a></td>
			<td width="8%"><a href="">在线课堂</a></td>
			<td width="8%"><a href="/operater">开发者</a></td>
			<td width="15%"><input name="" type="text"
				placeholder="请输入你要查询的内容" style="height: 40px" /><input name=""
				type="submit" value="查询"
				style="height: 50px; background-color: #000000; color: #FFFFFF" /></td>
			<td width="5%"><a href="">社区</a></td>
			<td width="10%"><a href="">关于我们</a></td>
			<td width="5%"><a href="">登录</a></td>
		</tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="10">
		<tr>
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">财务信息</font></td>
			<td>余额：0元</td>
			<td>到期时间：0元</td>
		</tr>
		<tr bgcolor="#e2efd9">
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">产品展示</font></td>
			<td align="center">智能机器人Julia-中学版</td>
			<td>智能机器人Julia-大学版</td>
			<td>AIRT-ROS学习包</td>
		</tr>
		<tr>
			<td width="10%" align="center" bgcolor="#70ad47"
				style="font-size: 18px"><font color="#ffffff"><p>Julia-中学版</p>
					<p>Julia-大学版</p>
					<p>AIRT-ROS学习包</p></font></td>
			<td align="center"><video height="200px" controls="controls">
				<source src="images/rosedu.mp4" type="video/mp4"></source> your
				browser does not support the video tag </video></td>
			<td><video height="200px" controls="controls"> <source
					src="images/rosedu.mp4" type="video/mp4"></source> your browser
				does not support the video tag </video></td>
			<td><video height="200px" controls="controls"> <source
					src="images/rosedu.mp4" type="video/mp4"></source> your browser
				does not support the video tag </video></td>
		</tr>
		<tr>
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">我的实验室</font></td>
			<td align="center"><img src="images/runcpu.png"
				style="height: 200px;" /></td>
			<td><img src="images/runmem.png" style="height: 200px;" /></td>
			<td><img src="images/runnet.png" style="height: 200px;" /></td>
		</tr>
		<tr bgcolor="#e2efd9">
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">服务功能</font></td>
			<td align="center">已开通的服务</td>
			<td>未开通的服务</td>
			<td>服务使用情况</td>
		</tr>
		<tr>
			<td width="10%" align="center" bgcolor="#70ad47"></td>
			<td align="center"><p>ROS</p>
				<p>机器学习</p></td>
			<td><p>力控</p>
				<p>感知</p></td>
			<td><p>ROS在2018.5.1到期</p>
				<p>机器学习在2018.5.1到期</p></td>
		</tr>
		<tr bgcolor="#e2efd9">
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">个人中心</font></td>
		</tr>
		<tr>
			<td width="10%" align="center" bgcolor="#70ad47"><font
				color="#ffffff">消息通知</font></td>

		</tr>
	</table>
<table width="1400" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>常用链接</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><a href=""><img src="images/teaching.png" /></a></td>
    <td><a href="/commodity"><img src="images/goods.png" /></a></td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
