<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ROS云教学平台</title>
<link href="/css/images.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body, td, th {
	font-size: 20px;
}

a:link {
	color: #00FF00;
	text-decoration: none;
	font-size: 16px
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table width="1000" border="0" align="center">
		<tr>
			<td></td>
			<td align="right"><a href="">教学管理中心</a></td>
		</tr>
		<tr>
			<td width="760"><img src="/images/roslogo.png" width="142"
				height="130" /></td>
			<td align="right"><a href="/login">登录/注册</a> <img
				src="/images/loginHead.png" width="58" height="53" /></td>
		</tr>
	</table>
	<table width="1000" border="0" align="center" cellspacing="5"
		background="white">
		<tr>
			<td><input name="courseContent" type="button" value="课程内容"
				style="background: #32a030; width: 140px; font-size: 20px" /></td>
			<td><a href="">课程介绍</a></td>
			<td><a href="">发展路线</a></td>
			<td><a href="">学员讨论区</a></td>
			<td><a href="">资料共享</a></td>
			<td><a href="">自助服务</a></td>
			<td><a href="">联系我们</a></td>
			<td><input type="text" placeholder="请输入你搜索的内容"
				style="background-color: #FFF; font-size: 18px" /></td>
		</tr>
	</table>
	<div id="images">
		<img id="image1" src="/images/advertise.png" /> <img id="image2"
			src="/images/advertise1.png" /> <img id="image3"
			src="/images/advertise2.png" />
		 <img id="image4"  src="/images/advertise3.png" />
	</div>
	<div id="slider">
		<a href="#image1">1</a> <a href="#image2">2</a> <a href="#image3">3</a>
		<a href="#image4">4</a>
	</div>
	<table width="1000" border="0" align="center" cellspacing="5">
		<tr>
			<td><a href=""><img src="/images/hardware.png" /></a></td>
			<td><a href=""><img src="/images/productManage.png" /></a></td>
			<td><a href=""><img src="/images/roslearn.png" /></a></td>
			<td><a href=""><img src="/images/ai.png" /></a></td>
			<td><a href=""><img src="/images/talk.png" /></a></td>
		</tr>
	</table>

</body>
</html>