<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>AI&amp;RT-ROS学习推广平台</title>
<link href="/css/alink.css" rel="stylesheet" type="text/css" />
<style type="text/css">
html,body{  
	weight: 100%; 
	font-size:24px;
} 
</style>
</head>

<body>
<table  width="100%" border="0" bgcolor="#000000">
  <tr>
    <td width="30%"><img src="images/logo.png" /></td>
    <td width="8%"><a href="/index">首页</a></td>
    <td width="8%"><a href="index.html">在线课堂</a></td>
    <td width="8%"><a href="operater">合作伙伴</a></td>
    <td width="15%"><input name="" type="text" placeholder="请输入你要查询的内容" style="height:40px" /><input name="" type="submit" value="查询" style="height:50px; background-color:#000000; color:#FFFFFF"/></td>
    <td width="5%"><a href="">社区</a></td>
    <td width="10%"><a href="">关于我们</a></td>
    <td width="5%"><a href="">登录</a></td>
  </tr>
</table>
<p align="center"><img src="images/operater.jpg" /></p>
</body>
</html>
